<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.semanticCSS%>"/>
    <title>Dev Online Order Aggregator</title>
</head>

<body>
<div id="root"></div>
</body>
</html>
