$dark-blue: #2185d0;
$blue: #229dec;
$barely-blue: rgba(29,150,215, 0.2);

#root {
    height: 100%;

    & > div {
        height: 100%;
    }

    box-sizing: border-box;
}

/*SIGNIN*/
.all-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
}

.centered {
    text-align: center !important;
}

.signin-wrapper {
    position: relative;
    height: 100%;
}

.signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spaced {
    > :not(:last-child), .ui.button:not(:last-child) {
        margin-bottom: 20px !important;
    }

    > :last-child, .ui.button:last-child {
        margin-bottom: 0 !important;
    }
}

/*PAGINATION*/
.pagination {
    bottom: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*STATS*/
.stats-container {
    display: flex;
    margin: 100px 0 0 100px;
    flex-wrap: wrap;
}

.stat-widget {
    margin-bottom: 30px;
    width: 50%;
    animation: stats-animation 1s;

    & .ui.large.header i {
        margin-right: 10px !important;
    }
}

.stat-number {
    font-size: 100px;
    font-weight: bold;
    height: 80px;
    margin-top: 50px;
}

@keyframes stats-animation {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

/*SIDEBAR*/
$sidebar-width: 40px;

.sidebar {
    transition: width 0.5s !important;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
    background-color: white;
    width: $sidebar-width !important;
    position: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    &:hover {
        width: 160px !important;
    }

    & + div {
        padding: 20px;
        margin-left: $sidebar-width;
    }
}

.sidebar-item {
    div {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 12px !important;
        text-align: left !important;
        width: 160px !important;
        font-size: 16px !important;
        transition: background-color 0.5s !important;
    }

    i {
        margin-right: 10px;
    }

    &:hover div {
        background-color: rgba(33, 133, 208, 0.1) !important;
    }

    &.logout div {
        position: absolute !important;
        bottom: 0;
        left: 0;
        width: inherit;
    }

    &.active div {
        background: $dark-blue !important;

        &:hover {
            background-color: $blue !important;
        }
    }
}

/* OTHER */
.labeled-text {
    &.label {
        font-size: 14px;
        color: #575757;
    }

    &.text {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.required-star::before {
    content: '*';
    position: absolute;
    top: -0px;
    left: 4px;
    font-size: 20px;
    color: lightcoral;
}

.selection.required-star::before {
    top: 4px;
    left: 3px;
}

/* Marketplace widget */
.marketplace-widget {
    border-radius: 5px;
    border-top-left-radius: 26px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: inline-block;
    min-width: 250px;
    max-width: 300px;
    min-height: 300px;
    padding: 30px 20px 35px;
    position: relative;
    margin: 20px;
    transition: 0.3s;

    &:hover {
        transform: scale(1.07) rotate(-1.5deg);
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);

        &-score {
            opacity: 0.3;
        }
    }

    &.dimmed {
        filter: opacity(0.3);
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 270px);
        column-gap: 20px;
        justify-content: space-around;
        padding: 20px 50px;
    }

    &-count {
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 12px rgba(168, 204, 215, 0.5);
        border-radius: 20px;
        color: $dark-blue;
        position: absolute;
        top: 13px;
        left: 13px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;

        &._1 {
            box-shadow: 0 0 15px rgba(232, 229, 55, 0.92);
        }

        &._2 {
            box-shadow: 0 0 15px rgba(168, 204, 215, 0.86);
        }

        &._3 {
            box-shadow: 0 0 15px rgba(215, 169, 129, 0.95);
        }
    }

    &-image {
        height: 100px;
        margin: 20px 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-score {
        position: absolute;
        right: 20px;
        font-size: 25px;
        font-weight: bold;
        top: 13px;
        opacity: 0.2;
        transition: 0.3s;
        color: $dark-blue;
    }

    &:hover {
        .marketplace-widget-score {
            opacity: 0.8;
        }
    }

    &-bars {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-bar-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            height: 20px;
            font-size: 16px;
            margin: 0;
        }
    }

    &-bar {
        height: 8px;
        width: 150px;
        margin: 0 10px;
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        justify-content: center;
        position: relative;
        background: linear-gradient(120deg, transparent 0%, transparent 30%, $barely-blue 30%, $barely-blue 70%, transparent 70%) repeat-x;
        background-size: 12px;
    }

    &-filled-bar {
        position: absolute;
        left: -1px;
        height: 8px;
        width: 0;
        background-color: $blue;
        display: flex;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
    }

    &-bar-rating {
        text-align: center;
        width: 20px;
        font-weight: bold;
        cursor: default;
    }
}

/* OPTIONS */
.options {
    position: fixed;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 200px;
    bottom: -200px;
    left: calc(50% + 20px);
    transform: translateX(-50%);
    background: white;
    transition: bottom 0.5s;
    padding: 10px 20px 0;

    &-tail {
        position: absolute;
        text-align: center;
        border-radius: 5px 5px 0 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.07);
        border-bottom: none;
        width: 200px;
        height: 40px;
        bottom: 198px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        cursor: default;
        font-weight: bold;
        font-size: 24px;
        padding-top: 12px;
        color: $dark-blue;
        transition: all 0.5s;
    }

    &:hover {
        bottom: -5px;

        .options-tail {
            height: 0;
            bottom: 170px;
            font-size: 0;
            opacity: 0;
        }
    }

    &-halfs {
        height: 100%;
        display: flex;
        padding: 20px 20px 0;
        justify-content: space-between;
    }

    &-left {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 80%;
        justify-content: space-between;
    }

    &-right {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 80%;
        justify-content: space-between;

        > div:first-child {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 79px;
        }
    }

    &-slider-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .icon {
            height: 20px;
            font-size: 16px;
            margin: 0;
        }

        input {
            width: 75%;
        }

        &-value {
            text-align: center;
            width: 20px;
            font-weight: bold;
        }
    }

    &-tip {
        position: absolute;
        top: 20px;
        opacity: 1;
        font-size: 12px;
        text-align: center;
        width: 100%;
        color: rgba(255, 86, 0, 0.61);
    }
}

/* ФИКС ПЛЕЙСХОЛДЕРА ПОЛЕЙ ВВОДА ДАТ */
input[type="date"]::before {
    content: attr(placeholder) !important;
    color: #cbcbcb;
    margin-right: 0.5em;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "";
}
